{% extends "app2/base.html" %}

{% block page %}

    <h4> {{ market_title }} </h4>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{ error|escape }}
            </div>
        {% endfor %}
    {% endif %}


    {% if reg_complete_msg %}

        {{ reg_complete_msg }}
    
    {% else %}

        {% with request.resolver_match.namespace|add:':registration_view' as url_reg_view %}
        <form name="form_registration" method="post" action={% url url_reg_view %}> {% csrf_token %}
        {% endwith %}

            <table> {{ form.as_table }} </table>
            <p><input type="submit"></p>
        </form>

    {% endif %}
{% endblock %}