    <!doctype html>

    <html lang="en">
    <head>   
      <meta charset="utf-8">
      <title>Test task</title>
      <meta name="description" content="The HTML5 Herald">
      <meta name="author" content="SitePoint">
      <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
      <![endif]-->
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static '/showcase/css/style.css' %}">
      <script src="{% static '/showcase/js/script.js' %}"></script> 
    </head>

    <body>
      
      <img src="{% static "showcase/img/SN.png" %}" alt="My image"/>

      {% block page %}
          {% block content %}
          {% endblock %}
      {% endblock %}

      <!-- <div class="flexible"></div> -->

    </body>
    </html>