<script type="text/template" id="generation_template">

    <div class="navbar navbar-inverse navbar-fixed-top" class="upper">
        <div class="navbar-inner">
            <div class="">
                <div class="header">
                    <!-- Trigger the modal with a button -->
                    <div class="header"><%= header %></div>
                </div>

                <ul class="nav">
                    <button type="button" id="generationButton" class="btn btn-info btn-lg" float="right" data-toggle="modal">Generate sales</button>
                </ul>
            </div>
        </div>
    </div>
</script>