<script type="text/template" id="login_form">
<h1>Login</h1>
<div class="alert alert-error" style="display:none;">
</div>
<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="username">User name</label>
    <div class="controls">
      <input type="text" id="username" placeholder="username">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" formmethod="get" class="btn" id="loginButton">Sign in</button>
    </div>
  </div>
</form>
</script>