
<script type="text/template" id="signup_template">
<br>

<!-- Modal -->
<div class="panel panel-default">
<div class="panel-body">

<div class="col-xs-4">
<form id="signup_form">

    <div class="form-group">
      <label for="username">Login</label>
      <input type="text" class="form-control" id="username" placeholder="User name" >
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" >
    </div>

    <div class="form-group">
      <label for="first_name">First name</label>
      <input type="text" class="form-control" id="first_name" >
    </div>

    <div class="form-group">
      <label for="last_name">Last name</label>
      <input type="text" class="form-control" id="last_name" >
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" >
    </div>
   
    <button type="submit" class="btn btn-default" id="signupButton">Register</button>
</form>
</div>
</div>
</div>

</script>