    <!doctype html>

    <html lang="en">
    <head>   
      <meta charset="utf-8">
      <title>Test task</title>
      <meta name="description" content="The HTML5 Herald">
      <meta name="author" content="SitePoint">
      <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
      <![endif]-->
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static '/app1/css/style.css' %}">
      <script src="{% static '/app1/js/script.js' %}"></script> 
    </head>

    <body>
       <form name="form_post" method="post" action="">
         <p>Enter data:<br>
         <input type="text" name="text_data" size="60">
         <p><input type="submit"></p>
       </form>
      
      <img src="{% static "app1/img/SN.png" %}" alt="My image"/>

      {% block page %}
          {% block content %}
          {% endblock %}
      {% endblock %}

       <div class="flexible"></div>

      <!--{% include "app1/footer.html" %}-->

    </body>
    </html>